<script id="productlist" type="text/html">
    <%for(var i=0;i<products.length;i++){%>
        <div class="h-section h-category-sec sec9">
            <div class="container">
                <div class="h-sec-top">
                    <h2 class="h-subTit">服饰</h2>
                    <a href="">更多<i></i></a>
                </div>
                <div class="m-product-list">
                    <div class="m-product-item-container">
                        <div class="m-product-image">
                            <img src="http://img.youpin.mi-img.com/800_pic/c3c572d31db2e1531e4ad245b33885f1.png?t=webp"
                                alt="">
                            <p class="pro-desc">骁龙845处理器，AI双...</p>
                        </div>
                        <div class="common-tag-con">
                            <span class="common-tag-text"></span>
                        </div>
                        <p class="pro-info">小米MIX 2S</p>
                        <p class="pro-price">
                            <span class="pro-unit">¥</span>
                            <span class="m-num">269</span>
                            <span class="pro-unit">起</span>
                        </p>
                    </div>
                    <div class="m-product-item-container">
                        <div class="m-product-image">
                            <img src="http://img.youpin.mi-img.com/800_pic/c3c572d31db2e1531e4ad245b33885f1.png?t=webp"
                                alt="">
                            <p class="pro-desc">骁龙845处理器，AI双...</p>
                        </div>
                        <div class="common-tag-con">
                            <span class="common-tag-text"></span>
                        </div>
                        <p class="pro-info">小米MIX 2S</p>
                        <p class="pro-price">
                            <span class="pro-unit">¥</span>
                            <span class="m-num">269</span>
                            <span class="pro-unit">起</span>
                        </p>
                    </div>
                    <div class="m-product-item-container">
                        <div class="m-product-image">
                            <img src="http://img.youpin.mi-img.com/800_pic/c3c572d31db2e1531e4ad245b33885f1.png?t=webp"
                                alt="">
                            <p class="pro-desc">骁龙845处理器，AI双...</p>
                        </div>
                        <div class="common-tag-con">
                            <span class="common-tag-text"></span>
                        </div>
                        <p class="pro-info">小米MIX 2S</p>
                        <p class="pro-price">
                            <span class="pro-unit">¥</span>
                            <span class="m-num">269</span>
                            <span class="pro-unit">起</span>
                        </p>
                    </div>
                    <div class="m-product-item-container m-product-item-last">
                        <div class="m-product-image">
                            <img src="http://img.youpin.mi-img.com/800_pic/c3c572d31db2e1531e4ad245b33885f1.png?t=webp"
                                alt="">
                            <p class="pro-desc">骁龙845处理器，AI双...</p>
                        </div>
                        <div class="common-tag-con">
                            <span class="common-tag-text"></span>
                        </div>
                        <p class="pro-info">小米MIX 2S</p>
                        <p class="pro-price">
                            <span class="pro-unit">¥</span>
                            <span class="m-num">269</span>
                            <span class="pro-unit">起</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
    <%}%>
</script>