<script id="shopdetail" type="text/html">
    {{each detail}}
    <div class="detail">
        <title>{{$value.name}}-小米有品</title>
            <div class="container">
                <div class="detail-header clearfix">
                    <div class="banner clearfix">
                        <div class="main fl">
                            <img class="first" src="{{$value.imgurl}}">
                            <img src="{{$value.imgurl}}">
                            <img src="{{$value.imgurl}}">
                            <img src="{{$value.imgurl}}">
                            <img src="{{$value.imgurl}}">
                            <img src="{{$value.imgurl}}">
                        </div>
                        <div class="thumb fr">
                            <div class="thumb-container">
                                <div class="thumb-pic "><img src="{{$value.imgurl}}"></div>
                                <div class="thumb-pic"><img src="{{$value.imgurl}}"></div>
                                <div class="thumb-pic"><img src="{{$value.imgurl}}"></div>
                                <div class="thumb-pic"><img src="{{$value.imgurl}}"></div>
                                <div class="thumb-pic"><img src="{{$value.imgurl}}"></div>
                                <div class="thumb-pic"><img src="{{$value.imgurl}}"></div>
                                <div class="thumb-arrow">
                                    <div class="thumb-arrow-up"></div>
                                    <div class="thumb-arrow-down"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sku-container fl">
                        <div class="name clearfix">
                            <div class="good-name clearfix">{{$value.name}}</div>
                        </div>
                        <div class="summary">{{$value.summary}}</div>
                        <div class="card">
                            <div class="price-line">
                                <div class="sku-title">售价</div>
                                <div class="price">
                                    <span class="money-symbol">¥</span>
                                    <span class="value">{{$value.price}}</span>
                                    <!-- <span class="market-price">¥2699</span>
                                    <span class="m-sale-tag">直降 100元</span> -->
                                </div>
                            </div>
                            <div class="service-line clearfix">
                                <h5 class="sku-title">服务</h5>
                                <div class="introduce-container">
                                    <p class="icon">!</p>
                                </div>
                                <div class="service">
                                    <div class="service-item"><a class="m-icons m-icons-service " data-src="" href="javascript:;"></a><span
                                            class="service-item-text">小米有品甄选精品</span></div>
                                    <div class="service-item"><a class="m-icons m-icons-service " data-src="" href="javascript:;"></a><span
                                            class="service-item-text">由 小米 发货并提供售后</span></div>
                                    <div class="service-item"><a class="m-icons m-icons-service " data-src="" href="javascript:;"></a><span
                                            class="service-item-text">支持7天无理由退货（请参考商品详情-常见问题）</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="address-line">
                            <div class="sku-title">配送区域</div>
                            <div class="address">
                                <span>北京市昌平区</span>
                                <span></span>
                                <a href="javascript:;">修改</a>
                            </div>
                        </div>
                        <div style="overflow: hidden; padding: 0px 0px 12px;">
                            <div class="size-line clearfix">
                                <h5 class="sku-title"> 颜色 </h5>
                                <div class="size-container">
                                    <div class="tag-item-onSaled">白色</div>
                                    <div class="tag-item-onSaled">黑色</div>
                                    <div class="tag-item-onSaled">蓝色</div>
                                    <div class="tag-item-onSaled">金色</div>
                                </div>
                            </div>
                            <div class="size-line clearfix">
                                <h5 class="sku-title"> 版本 </h5>
                                <div class="size-container">
                                    <div class="tag-item-onSaled">6G+64GB</div>
                                    <div class="tag-item-onSaled">6G+128GB</div>
                                    <div class="tag-item-onSaled">6G+256GB</div>
                                    <div class="tag-item-onSaled">8G+128GB</div>
                                </div>
                            </div>
                        </div>
                        <div class="count-line clearfix">
                            <h5 class="sku-title count-title">数量</h5>
                            <div class="count-container">
                                <div>
                                    <div class="minus-btn">
                                        <a class="m-icons m-icons-reduce " data-src="" href="javascript:;"></a>
                                    </div>
                                    <input type="text" value="1" class="count-input">
                                    <div class="minus-btn">
                                        <a class="m-icons m-icons-add-active " data-src="" href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-line">
                            <div class="buy-btn-container">
                                <div>
                                    <a class="m-btns m-btn-middle m-btn-brown-stroke" href="javascript:;">立即购买</a>
                                    <a class="m-btns m-btn-middle m-btn-brown" href="javascript:;" style="display: inline-block;">加入购物车</a>
                                </div>
                                <!-- 加入购物车提示 -->
                                <span class="add-remind">加入购物车成功</span>
                            </div>
                            <div class="favor-btn ">
                                <div>
                                    <a class="m-icons m-icons-collection " data-src="" href="javascript:;"></a>
                                    <p>收藏</p>
                                </div>
                            </div>
                            <div class="favor-service-btn favor-btn ">
                                <div>
                                    <a class="m-icons m-icons-service-detail " data-src="" href="javascript:;"></a>
                                    <p>客服</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-content clearfix">
                    <div class="info fl">
                        <div class="nav-title">
                            <ul class="info-nav">
                                <li class="info-nav-item">商品概述</li>
                                <li class="info-nav-item">评论</li>
                                <li class="info-nav-item">参数</li>
                            </ul>
                            <div class="nav-arr-container">
                                <div class="nav-arr"></div>
                            </div>
                        </div>
                        <div class="main-body">
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_3e63e0ad0fff97473b8e3f208d69dafe.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_3e63e0ad0fff97473b8e3f208d69dafe.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_aa4daee8fb2f630667fe839979511a31.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_aa4daee8fb2f630667fe839979511a31.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_207daf6c1d402dcd2b8d50c8c45b6645.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_207daf6c1d402dcd2b8d50c8c45b6645.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_fe6a129b41c009c18209a4792fe79d9a.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_fe6a129b41c009c18209a4792fe79d9a.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_7849e175d299265412bef2243349d228.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_7849e175d299265412bef2243349d228.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_1f8bb42a3ebc8d02fe33a5be5196cadb.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_1f8bb42a3ebc8d02fe33a5be5196cadb.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_0f050dd8a658fa4164665691d06d280b.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_0f050dd8a658fa4164665691d06d280b.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_e7f7ae5a1251a67d487c0edff1dfbac2.jpeg&amp;w=1080&amp;h=710"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_e7f7ae5a1251a67d487c0edff1dfbac2.jpeg&amp;w=1080&amp;h=710"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_f98b505701fea7846b95c96e62724374.jpeg&amp;w=1080&amp;h=621"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_f98b505701fea7846b95c96e62724374.jpeg&amp;w=1080&amp;h=621"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_c685821cfb8ec200d2e0361e22aa4d36.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_c685821cfb8ec200d2e0361e22aa4d36.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_587ef785ec3f2d2106ff6a0b12245de0.jpeg&amp;w=1080&amp;h=692"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_587ef785ec3f2d2106ff6a0b12245de0.jpeg&amp;w=1080&amp;h=692"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_fae7322a0b7879f31426f100e13bde9c.jpeg&amp;w=1080&amp;h=639"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_fae7322a0b7879f31426f100e13bde9c.jpeg&amp;w=1080&amp;h=639"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_90843e360a34857137524eb0762c27f7.jpeg&amp;w=1080&amp;h=716"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_90843e360a34857137524eb0762c27f7.jpeg&amp;w=1080&amp;h=716"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_48739c4aee4d8ca54056f2089dafefee.jpeg&amp;w=1080&amp;h=615"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_48739c4aee4d8ca54056f2089dafefee.jpeg&amp;w=1080&amp;h=615"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_ffc98ad6e51f939cd4c02f69565b7d46.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_ffc98ad6e51f939cd4c02f69565b7d46.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_6626bfeb9c03b06d22489a48d11f4350.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_6626bfeb9c03b06d22489a48d11f4350.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_da00746fbf66bfc64681ae466e1f852a.jpeg&amp;w=1080&amp;h=687"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_da00746fbf66bfc64681ae466e1f852a.jpeg&amp;w=1080&amp;h=687"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_e1b113080746e33cac0da6a12e30b2c1.jpeg&amp;w=1080&amp;h=644"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_e1b113080746e33cac0da6a12e30b2c1.jpeg&amp;w=1080&amp;h=644"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_6d8fa65f70fbcb3bfabfbb883ac2e632.jpeg&amp;w=1080&amp;h=717"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_6d8fa65f70fbcb3bfabfbb883ac2e632.jpeg&amp;w=1080&amp;h=717"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_dda46874bba81a55a77ef049c3ab9e7e.jpeg&amp;w=1080&amp;h=743"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_dda46874bba81a55a77ef049c3ab9e7e.jpeg&amp;w=1080&amp;h=743"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_f4853548a16f0b47bacd44b6b907767c.jpeg&amp;w=1080&amp;h=536"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_f4853548a16f0b47bacd44b6b907767c.jpeg&amp;w=1080&amp;h=536"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_e0046e5cdef41d56b5426de8839d7664.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_e0046e5cdef41d56b5426de8839d7664.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_b5503abd63ed27716ac457bc4306596f.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_b5503abd63ed27716ac457bc4306596f.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_150a5e336d55550db9a1240f9ca897b9.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_150a5e336d55550db9a1240f9ca897b9.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_a59471cdf76a237210466660894a420b.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_a59471cdf76a237210466660894a420b.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_744adad07e9e566609f0f35d215ade03.jpeg&amp;w=1080&amp;h=665"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_744adad07e9e566609f0f35d215ade03.jpeg&amp;w=1080&amp;h=665"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_055bacbb56b791e11d62de8da11c47ae.jpeg&amp;w=1080&amp;h=666"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_055bacbb56b791e11d62de8da11c47ae.jpeg&amp;w=1080&amp;h=666"
                                        alt=""></div>
                                <div class="detail-img"><img class="" src="https://shop.io.mi-img.com/app/shop/img?id=shop_825e3f3d7156994899c00ebf2189ae6e.jpeg&amp;w=1080&amp;h=625"
                                        data-src="https://shop.io.mi-img.com/app/shop/img?id=shop_825e3f3d7156994899c00ebf2189ae6e.jpeg&amp;w=1080&amp;h=625"
                                        alt=""></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
</script>