<script id="productlist" type="text/html">
    <%for(var i=0;i<products.length;i++){%>
        <div class="h-section h-category-sec sec9">
            <div class="container">
                <div class="h-sec-top">
                    <h2 class="h-subTit"><%=products[i].data.title%></h2>
                    <a href="<%=products[i].data.jump_url%>">更多<i></i></a>
                </div>
                <div class="m-product-list">
                    <!-- products[i].data.items.length --> 
                    <%for(var j=0;j<4;j++){%>
                    <div class="m-product-item-container">
                        <a href="<%=products[i].data.items[j].jump_url%>" target="_blank">
                            <div class="m-product-image">
                                <img src="<%=products[i].data.items[j].imgs.img800%>"
                                    alt="">
                                <p class="pro-desc"><%=products[i].data.items[j].attr_ext.custom_summary%></p>
                            </div>
                            <div class="common-tag-con">
                                <%for(var k=0;k<products[i].data.items[j].tags.length;k++){%>
                                    <span class="common-tag-text" style="background:<%=products[i].data.items[j].tags[k].color%>"><%=products[i].data.items[j].tags[k].name%></span>
                                <%}%>
                            </div>
                            <p class="pro-info"><%=products[i].data.items[j].name%></p>
                            <p class="pro-price">
                                <span class="pro-unit">¥</span>
                                <span class="m-num"><%=products[i].data.items[j].market_price/100%></span>
                                <%if(products[i].data.items[j].market_price!=products[i].data.items[j].price_min){%>
                                    <span class="pro-unit">起</span>
                                <%}%>
                            </p>
                        </a>
                    </div>
                    <%}%>   
                </div>
            </div>
        </div>    
    <%}%>
</script>