<div class="m-site-top">
    <div class="container">
        <div class="fr">
            <ul>
                <li class="user-center line">
                    <span class="unlog">
                        <a class="login-a" href="http://localhost:9000/pages/login/login.html">登录</a>
                        <a class="register-a line" href="http://localhost:9000/pages/login/login.html">注册</a>
                    </span>
                    <span class="haslog">
                        <a href="javascript:;" class="big-head"></a>
                        <a href="javascript:;" class="username">forever</a>
                        <a href="javascript:;" class="arrow-down"></a>
                    </span>
                    <ul class="user-drop">
                        <li class="my-order">我的订单</li>
                        <li class="my-money">我的资产</li>
                        <li class="my-favorite">我的收藏</li>
                        <li class="address-mag">地址管理</li>
                        <li class="logout">退出登录</li>
                    </ul>
                </li>
                <li class="line"><a href="#">帮助中心</a></li>
                <li class="download"><a href="#"><span></span>下载APP</a></li>
            </ul>
        </div>
    </div>
</div>